<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhx.sourcemanager.web.index.mapper.RoleMapper">

    <select id="listRole" parameterType="java.lang.String" resultType="java.util.HashMap">
        select t.id,t.role_name roleName,t.`status`,
          DATE_FORMAT(t.create_time,'%Y-%m-%d %H:%m:%s') as createTime
        from oauth_role t where t.`status`=1 and t.client_id= #{clientId} order by id desc
    </select>

    <update id="delRole" parameterType="java.lang.Integer">
        update oauth_role set status= 0 where id =#{roleId}
    </update>

    <insert id="addRole" parameterType="java.util.HashMap">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="roleId">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        insert into oauth_role( role_name,client_id,status,create_time) values(#{roleName},#{clientId},#{status},now())
    </insert>

    <insert id="addRoleMenu" parameterType="java.util.HashMap">
        insert into oauth_role_menu(role_id,menu_id,status,create_time)values(#{roleId},#{menuId},#{status},now())
    </insert>

    <select id="findRoleMenuByRoleId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select menu_id from oauth_role_menu where status =1 and role_id=#{roleId} order by id asc
    </select>

    <update id="updateRole" parameterType="java.util.HashMap">
        update oauth_role set role_name=#{roleName},create_time=now(),status=1 where id = #{roleId}
    </update>

    <update id="delRoleMenu" parameterType="java.lang.Integer">
        update oauth_role_menu set status=0 where role_id = #{roleId}
    </update>

</mapper>